doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv='Content-Security-Policy', content="default-src * self blob: data: gap:; style-src * self 'unsafe-inline' blob: data: gap:; script-src * 'self' 'unsafe-eval' 'unsafe-inline' blob: data: gap:; object-src * 'self' blob: data: gap:; img-src * self 'unsafe-inline' blob: data: gap:; connect-src self * 'unsafe-inline' blob: data: gap:; frame-src * self blob: data: gap:;")
        link(rel="stylesheet", href="./styles/style.css", type="text/css")
        script(src='https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js', defer='')
        link(rel='stylesheet', href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css')
        title iFILE | #{title}
    body 
        .bg-white.h-screen.flex
            include _header
            block content
        //- script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js')        
        //- script(type="module" src="/js/index.js")